<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Node.js app</title>
</head>
<body>
    <p class="project-desc">Node.js app para Coderhouse - Tercera entrega</p>
    <nav>
        {{#if this.username}}
            <div class="welcome">
                <img class="user-img" src="{{this.photo}}" alt="User img">
                <p>Bienvenido, {{this.username}}</p>
            </div>
        {{/if}}
        <ul>
            {{#unless this.username}}
                <li><a href="/register">Registrarme</a></li>
                <li><a href="/login">Iniciar sesión</a></li>
            {{/unless}}
            {{#if this.username}}
                <li><a href="/">Productos</a></li>
                <li><a href="/cart">Carrito ({{this.cartLength}})</a></li>
                <li><a href="/logout">Cerrar sesión</a></li>
            {{/if}}
        </ul>
    </nav>
    {{{body}}}
</body>
</html>