<h2>Tu carrito está vacío</h2>
<p>¿Por qué no pruebas agregando algún producto?</p>
<p><small>Redirigiendo a la página de productos</small></p>
<script>
    setTimeout(() => {
        window.location.href = '/'
    }, 3000)
</script>