<h2>Inicio de sesión fallido</h2>
<p>Error: <b>{{message}}</b></p>
<p><small>Redirigiendo a la página de inicio</small></p>
<script>
    setTimeout(() => {
        window.location.href = '/'
    }, 4000)
</script>