<h2>¡Gracias por tu compra!</h2>
<p>Pronto recibirás información de tu pedido por SMS</p>
<p><small>Redirigiendo a la página de productos</small></p>
<script>
    setTimeout(() => {
        window.location.href = '/'
    }, 3000)
</script>