<form class="register" action="/register" method="POST">
    <h2>Formulario de registro</h2>
    <input type="text" name="name" placeholder="Nombre y apellido">
    <input type="email" name="email" placeholder="Dirección de correo">
    <input type="text" name="address" placeholder="Dirección física">
    <input type="number" name="age" placeholder="Edad">
    <input type="number" name="phone" placeholder="Teléfono">
    <input type="text" name="username" placeholder="Nombre de usuario">
    <input type="text" name="photo" placeholder="Foto (url)">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Registrarme</button>
</form>